@model Es.Riam.Gnoss.Web.MVC.Models.ViewModels.AdministrarAplicacionesViewModel

@{
    Html.SetTitle("Index");
    string urlBase = this.Request.Url.ToString().ToLower();
    if (urlBase.EndsWith("/"))
    {
        urlBase = urlBase.Substring(0, urlBase.Length - 1);
    }
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
}
<div id="col01">
        <h2>Administrar aplicaciónes</h2> <br /> 
        <button onclick="location.href='@string.Concat(urlBase,"/crear")'">Nueva aplicación</button> <br /> <br />
        <ul>
         @foreach(Es.Riam.Gnoss.Web.MVC.Models.OAuth.ConsumerModel consumer in Model.Aplicaciones){
            <li>
                <h2><a href="@string.Concat(urlBase,"/informe/", consumer.ConsumerId)" class="tabMenuPlantillas">@consumer.Name</a></h2>
                     <ul class="group resource-utils clearfix">
                        <li>@consumer.Description</li>
                        <li>Key :@consumer.Key</li>
                        <li>Secret :@consumer.Secret</li>
                        <li>Callback :@consumer.AplicationCallback</li>
                    </ul>
                </li>
        }
        </ul>
</div>
