.alertasIdentidades{
    background: var(--c-rojo);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 9px;
    color: #FFF;
    position: absolute;
    top: -2px;
    left: -5px;
    cursor: pointer;
}

.indentadoIdentidades{
    display:none;
}