/* FACETAS */

  .header-facetas { padding-top: 25px; margin-bottom: 40px; }
  .header-facetas a { padding-left: 40px; font-size: 15px; font-weight: var(--fw-medium); color: var(--c-gris-3); text-decoration: none; position: relative; }
  .header-facetas a::before { content: '\E152'; font-family: var(--ff-material); font-size: 30px; color: var(--c-gris-3); position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

  #panFacetas {  }
  #panFacetas .facetedSearch {  }
  #panFacetas .facetedSearch .box { margin-bottom: 50px; }
  #panFacetas .facetedSearch .box .faceta-title { display: block; padding-left: 40px; font-size: 14px; font-weight: 500; color: var(--c-negro); margin-bottom: 20px; }

  #panFacetas .facetedSearch .box ul { list-style: none; margin: 0; padding: 0;  }
  #panFacetas .facetedSearch .box ul li { margin-bottom: 20px; }
  #panFacetas .facetedSearch .box ul li label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; }
  #panFacetas .facetedSearch .box ul li a { font-size: 14px; font-weight: 400; color: var(--c-gris-3); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; }
  #panFacetas .facetedSearch .box ul li span {  }
  #panFacetas .facetedSearch .box ul li span.pmd-checkbox-label { padding-left: 0; width: 40px; }
  #panFacetas .facetedSearch .box ul li span.textoFaceta { padding-right: 10px; }
  #panFacetas .facetedSearch .box ul li span.icono-desplegar { cursor: pointer; }
  #panFacetas .facetedSearch .box ul li span.icono-desplegar::before { content: '\E5C5'; font-family: var(--ff-material); font-size: 30px; color: var(--c-gris-9); }
  #panFacetas .facetedSearch .box ul li span.num-resultados { color: var(--c-gris-9); padding-left: 10px; }
  #panFacetas .facetedSearch .box ul li ul { max-height: 0; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; overflow: hidden; }
  #panFacetas .facetedSearch .box ul li.abierta ul { max-height: 100vh; margin-top: 20px; margin-bottom: 20px; padding-left: 40px; }
  #panFacetas .facetedSearch .box ul li ul li {  }

  #panFacetas .facetedSearch .box .moreResults { padding-left: 40px; margin-top: 20px; }
  #panFacetas .facetedSearch .box .moreResults a { font-size: 14px; color: var(--c-gris-9); font-weight: 400; text-decoration: none; }

  

/**/