/* MODAL */

  .modal {  }
  .modal .modal-dialog { max-width: 600px; width: 100%; }
  .modal .modal-dialog .modal-content {  }
  .modal .modal-dialog .modal-content .wrapContent { padding: 50px 40px; position: relative; }
  .modal .modal-dialog .modal-content .wrapContent h2 { font-size: 15px; font-weight: 500; color: var(--c-negro); margin-bottom: 20px; }
  .modal .modal-dialog .modal-content .wrapContent .cerrar { display: block; position: absolute; top: 25px; right: 30px; cursor: pointer; }

  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion { margin-bottom: 20px; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form { margin: 0; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div {  }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div .buscar { padding: 0; display: block; position: relative; background: #F2F2F2; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div .buscar input { margin: 0 auto; display: block; width: 100%; border: 0; padding: 0 15px; padding-left: 50px; font-family: var(--ff-roboto); font-weight: 500; font-size: 14px; color: #666; height: 50px; line-height: 50px; background: transparent; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div .buscar input:focus { outline: 0; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div .buscar a { position: absolute; top: 0; left: 0; bottom: 0; font-size: 0; width: 50px; line-height: 50px; text-align: center; }
  .modal .modal-dialog .modal-content .wrapContent .buscador-coleccion form div .buscar a:before { display: inline-block; font-family: var(--ff-material); content: '\E8B6'; font-size: 30px; color: #9A9A9A; }

  .modal .modal-dialog .modal-content .wrapContent .indice-lista { overflow-y: auto; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box {  }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box .faceta-title { display: none; padding-left: 40px; font-size: 14px; font-weight: 500; color: var(--c-negro); margin-bottom: 20px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul { list-style: none; margin: 0; padding: 0; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li { margin-bottom: 20px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li:last-child { margin-bottom: 0; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li label { display: flex; align-items: center; margin: 0; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li a { font-size: 14px; font-weight: 400; color: var(--c-gris-3); display: flex; align-items: center; text-decoration: none; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span  {  }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span.pmd-chechbox-label  { padding-left: 0; width: 40px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span.textoFaceta  { padding-right: 10px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span.num-resultados  { color: var(--c-gris-9); padding-left: 10px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span.icono-desplegar  { cursor: pointer; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li span.icono-desplegar::before { content: '\E5C5'; font-family: var(--ff-material); font-size: 30px; color: var(--c-gris-9); }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li ul { max-height: 0; transition: all .3s ease-in-out; overflow: hidden; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box ul li.abierta ul { max-height: 100vh; margin-top: 20px; margin-bottom: 20px; padding-left: 40px; }
  .modal .modal-dialog .modal-content .wrapContent .indice-lista .box .moreResults { display: none; }
  

  .modal-open .modal-resultados { overflow: hidden; }
/**/