@model ResourceModel

@if (Model.Tags != null && Model.Tags.Count>0)
{
	<div class="group etiquetas">
		<strong>
			@Html.GetText("COMMON", "ETIQUETAS"): 
		</strong> 
        <ul class="listTags">
            @foreach (string etiqueta in Model.Tags)
            {
                <li rel="sioc:topic">
                    <a typeof="sioc_t:Tag" href="@Model.UrlSearch/@Html.GetText("URLSEM","TAG")/@etiqueta"><span property="dcterms:name">@etiqueta</span></a>@if (!etiqueta.Equals(Model.Tags.Last())){@(",")}
                </li>
            }
        </ul>
	</div>
}