@model ResourceViewModel

@{
    ResourceModel fichaRecurso = Model.Resource;
}

@foreach (CategoryModel categoria in Model.Categories.OrderBy(cat => cat.Name))
{ 
    <div>
	    <img style="border-width:0px;" src="@Html.GetBaseUrlStatic()/img/miniWhiteSpace.gif" />
    
        <span class="@categoria.Key">
            @{
                string accionClick = "MVCMarcarElementoSelCat(this, 'despAccionRec_" + categoria.Key + "');";
                string cadenaChecked = "";
                string cadenaDisabled = "";
                if (fichaRecurso.Categories != null && fichaRecurso.Categories.Count(cat => cat.Key == categoria.Key) > 0)
                {
                    cadenaChecked = "checked=\"checked\"";
                    if (!Model.AllowEditCategories)
                    {
                        cadenaDisabled = "disabled=\"disabled\"";
                    }
                }
            }
        
            <input type="checkbox" onclick="@accionClick" @cadenaChecked @cadenaDisabled/>
            <label for="">@categoria.Name</label>
        </span>
    </div>
}

