@model GroupPageViewModel

<h2>@Model.NumMembers Personas</h2>
<div id="panPersonas">
    @foreach (ProfileModel persona in Model.ListMembers)
            {
        @Html.PartialView("_FichaPerfilGrupo", persona)
    }
</div>
@if (Model.NumMembers > 10)
{
    @Html.PartialView("_Paginador", Model)
}
