@{
    ViewBag.Title = "Selecciona el proyecto";
    Layout = "~/Areas/GnossTestView/Views/_LayoutAskUrl.cshtml";

    
    Response.Headers.Add("Cache-Control", "no-cache, no-store");
}

<h2>Configuraciones</h2>


@using (Html.BeginForm("SaveConfiguration", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label for="apiDespliegues" class="control-label col-md-2">API de despliegues</label>
            <div class="col-md-10">
                <div class="textbox">
                    <input type="text" id="apiDespliegues" name="apiDespliegues" value="@ViewBag.urlApiDespliegues" autocomplete="off"/>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" type="submit" value="Continuar" class="btn btn-default">
            </div>
        </div>
    </div>
}



