@{
    ViewBag.Title = "ERROR";
    Layout = "";

    string ErrorAskURL = "";

    if (Session["ErrorAskURL"] != null)
    {
        ErrorAskURL = (string)Session["ErrorAskURL"];
    }

    Response.Headers.Add("Cache-Control", "no-cache, no-store");
}

<h2>ERROR</h2>


<div class="panel panel-danger">
    <div class="panel-heading">Error</div>
    <div class="panel-body">@ErrorAskURL</div>
</div>
        
