@model PlantillaOntologicaViewModel

<div id="panPaso3">
    <p>
        <span for="txtTitulo">Título</span>
        <input type="text" class="big text" id="txtTitulo" name="Ontologia.Name" value="@Model.Name">
    </p>
    <p>
        <span for="txtDescripcion">Descripción</span>
        <textarea rows="2" cols="20" class="cke recursos" id="txtDescripcion" name="Ontologia.Description">@Model.Description</textarea>
    </p>

</div>