.fichaRecurso {  }
.fichaRecurso main[role="main"] {  }
.fichaRecurso main[role="main"] > .container {  }
.fichaRecurso main[role="main"] > .container > .row {  }
.fichaRecurso main[role="main"] > .container > .row > .col {  }

.fichaRecurso .wrap-col { padding-left: 50px; padding-top: 40px; padding-bottom: 40px; }

.fichaRecurso .wrap-col .header-resource { display: flex; align-items: center; position: relative; margin-bottom: 30px; }

.fichaRecurso .wrap-col .header-resource .h1-container { flex: 0 0 calc(100% - 50px); max-width: calc(100% - 50px); }
.fichaRecurso .wrap-col .header-resource .h1-container h1 { font-size: 15px; font-weight: 500; color: var(--c-gris-3); }
.fichaRecurso .wrap-col .header-resource .mas-opciones { flex: 0 0 50px; max-width: 50px; text-align: right; }
.fichaRecurso .wrap-col .header-resource .fecha { margin: 0; position: absolute; top: -100%; right: 0; font-size: 13px; color: var(--c-gris-9); }

.fichaRecurso .wrap-col .publicador { display: flex; align-items: center; margin-bottom: 50px; }
.fichaRecurso .wrap-col .publicador .imagen { flex: 0 0 40px; max-width: 40px; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: var(--c-gris-f2) !important; background: url(resources/icos/icn-usuario.png) no-repeat center; background-size: cover !important; border-radius: 50%; }
.fichaRecurso .wrap-col .publicador .datos { flex: 0 0 calc(100% - 40px); max-width: calc(100% - 40px); padding-left: 15px; }
.fichaRecurso .wrap-col .publicador .datos > * { display: block; font-size: 14px; font-weight: 500; } 
.fichaRecurso .wrap-col .publicador .datos .usuario { color: var(--c-gris-3); }
.fichaRecurso .wrap-col .publicador .datos .comunidad { color: var(--c-gris-9); }

.fichaRecurso .wrap-col .contenido {  }
.fichaRecurso .wrap-col .contenido * { font-size: 14px; color: var(--c-gris-9); font-weight: 400; margin-bottom: 15px; }
.fichaRecurso .wrap-col .contenido strong { font-weight: 500; }
.fichaRecurso .wrap-col .contenido iframe { width: 100%; max-width: 100%; margin-bottom: 30px; }
.fichaRecurso .wrap-col .contenido img { width: 100%; max-width: 100%; }

.fichaRecurso .wrap-col .listas {  }
.fichaRecurso .wrap-col .listas div { margin-bottom: 25px; }
.fichaRecurso .wrap-col .listas div strong { font-size: 14px; color: var(--c-gris-3); font-weight: 400; display: block; margin-bottom: 15px; }
.fichaRecurso .wrap-col .listas div ul { list-style: none; margin: 0; padding: 0; display: flex; align-items: center; flex-wrap: wrap; }
.fichaRecurso .wrap-col .listas div ul li,
.fichaRecurso .wrap-col .listas div ul li a { font-size: 14px; color: var(--c-gris-9); font-weight: 400; }

.fichaRecurso .wrap-col .comentarios-recurso { margin-top: 60px; }
.fichaRecurso .wrap-col .comentarios-recurso .h2-container { display: flex; align-items: center; margin-bottom: 20px; }
.fichaRecurso .wrap-col .comentarios-recurso .h2-container h2 { font-size: 14px; color: var(--c-gris-3); font-weight: 400; margin-right: 10px; margin-bottom: 0; }
.fichaRecurso .wrap-col .comentarios-recurso .h2-container span { font-size: 14px; color: var(--c-gris-9); font-weight: 400; }

.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso { margin-bottom: 40px; }
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .header-comentario { position: relative; display: flex; align-items: center; margin-bottom: 30px; }
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .header-comentario .publicador { margin: 0; flex-grow:1 ;}
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .header-comentario .fecha {  }
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .header-comentario .fecha p { font-size: 13px; color: var(--c-gris-9); font-weight: 400; margin: 0; }
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .header-comentario .mas-opciones { margin-left: 10px; }

.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .body-comentario {  }
.fichaRecurso .wrap-col .comentarios-recurso .comentario-recurso .body-comentario p { font-size: 14px; color: #999; font-weight: 400; }

.fichaRecurso .wrap-col .comentarios-recurso .acciones-comentario {  }
.fichaRecurso .wrap-col .comentarios-recurso .acciones-comentario a { font-size: 14px; color: #333; font-weight: 400; }



@media (max-width: 991px){

  .fichaRecurso .wrap-col { padding-left: 15px; }
  .fichaRecurso .wrap-col .header-resource .fecha { top: -30px; }

}

@media (max-width: 767px){

  .fichaRecurso .wrap-col { padding-left: 0; }

}


