@{
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
    CommunityModel Comunidad = Html.GetComunidad();
}
<div class="content">
    <div>Debido a que estás en una versión anterior es imposible que puedas hacer ningún cambio</div>
    <div id="Principal">Actualize a la <a id ="miRef" href="javascript:void(0)">versión actual</a></div>
</div>

<script>

    window.onload = function (e) {
        document.getElementById("miRef").addEventListener("click", enviarPeticion);
    }

    function enviarPeticion() {
        MostrarUpdateProgress();
        this.urlPagina = 
        GnossPeticionAjax(
        document.location.href + '/actualice',
        null,
        true
        ).done(function (data) {
            mostrarInformacion(data);
        }).fail(function (data) {
            if (data) {
                mostrarErrorGuardado(data);
            } else {
                mostrarErrorGuardado("Error al ejecutar la peticion de actualizar");
            }
        }).always(function () {
            OcultarUpdateProgress();
        });
    }
    function mostrarInformacion()
    {
        $('#errorSpam').remove();
        $('#okGeneral').remove();
        $('#Principal').after(" <div id=\"okGeneral\" class=\"ok general\">" + arguments[0] + "</div>");
    }
    function mostrarErrorGuardado()
    {
        $('#errorSpam').remove();
        $('#okGeneral').remove();
        $('#Principal').after("<div id=\"errorSpam\" class=\"alert\"> <p>" + arguments[0] + "</p></div>");
    }

</script>