<aside id="menuLateralPrincipal" class="menuLateral pmd-sidebar sidebar-default pmd-sidebar-left pmd-sidebar-left-fixed pmd-sidebar-slide-push pmd-sidebar-open" role="navigation">

    <div class="header">
        <div class="wrap-header">
            <p class="logo">
                <i>my</i><span>GNOSS</span>
            </p>
            <div class="datos-comunidad">
                <p>28000 <span>Recursos</span></p>
                <p>240 <span>Usuarios</span></p>
            </div>
        </div>
        <span class="material-icons cerrar">close</span>
    </div>

    <div class="body">
        <p>Comunidades</p>
        <ul class="pmd-sidebar-nav ulComunidades">
            <li class="privada activa">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="privada">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="privada">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="privada">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="privada">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="privada">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Privada</a>
            </li>
            <li class="publica">
                <a href="javascript: void(0);">Personalización de comunidades GNOSS Pública</a>
            </li>
            <li class="ver-todas">
                <a href="javascript: void(0);" data-target="menuLateralComunidadesEcosistema" data-placement="left" data-position="slidepush" class="pmd-sidebar-toggle">Ver todas</a>
            </li>
        </ul>
    </div>
</aside>
