@model List<Es.Riam.Gnoss.AD.EntityModel.Models.IntegracionContinuaPropiedad>

@{
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
}
    <style>
        .pendientesValidacion.done .validarTodo {
            display: none;
        }

        .row .panEdicion textarea {
            width: 590px !important;
        }

        .row .validado {
            display: none;
        }

        .row.parametroValidado .validado {
            display: inline;
        }

        .row.parametroValidado .panEdicion .panValidar {
            display: none;
        }

        input[type="button"].programar,
        .panEdicion input[type="button"] {
            margin-left: 0;
        }

        .panPropiedades {
            border-top: 1px solid #ddd;
            margin-top: 30px;
            padding-top: 10px;
            display: none;
        }

            .panPropiedades.active {
                display: block;
            }

        span.validado {
            color: green;
        }

        .formSteps.siguiente {
            float: right;
        }

        .formSteps .progress {
            width: 100%;
            margin: 20px auto;
            text-align: center;
        }

            .formSteps .progress .circle,
            .formSteps .progress .bar {
                display: inline-block;
                background: #fff;
                width: 100px;
                height: 100px;
                border-radius: 100px;
                border: 1px solid #d5d5da;
            }

            .formSteps .progress .bar {
                position: relative;
                width: 80px;
                height: 6px;
                top: -50px;
                margin-left: -5px;
                margin-right: -5px;
                border-left: none;
                border-right: none;
                border-radius: 0;
            }

            .formSteps .progress .circle .label {
                display: inline-block;
                width: 90px;
                height: 90px;
                line-height: 90px;
                border-radius: 90px;
                margin-top: 5px;
                color: #b5b5ba;
                font-size: 17px;
            }

            .formSteps .progress .circle .title {
                color: #b5b5ba;
                font-size: 13px;
                line-height: 30px;
                position: absolute;
                margin-top: 100px;
                margin-left: -95px;
                width: 100px;
            }

            .formSteps .progress .circle.done {
                background: #eee;
            }

            .formSteps .progress .bar.active {
                background: linear-gradient(to right, #EEE 40%, #FFF 60%);
            }

            .formSteps .progress .circle.done .label {
                color: #FFF;
                background: #81CE97;
                box-shadow: inset 0 0 2px rgba(0,0,0,.2);
            }

            .formSteps .progress .circle.empty .label {
                color: #FFF;
                background: #ccc;
                box-shadow: inset 0 0 2px rgba(0,0,0,.2);
            }

            .formSteps .progress .circle.done .title {
                color: #444;
            }

            .formSteps .progress .circle.active .label {
                color: #FFF;
                background: #0c95be;
                box-shadow: inset 0 0 2px rgba(0,0,0,.2);
            }

            .formSteps .progress .circle.active .title {
                color: #0c95be;
            }
    </style>
    <div class="content">
        <h1>Configurar integración continua</h1>
        @Html.PartialView("_ConfigParameters", Model);
    </div>

    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/jsUnificar/jquery.ui.tooltip.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/jsNuevo/jquery.demo.js?v=@Html.GetVersion()"></script>

<script type="text/javascript">

    $('#page').on('click', '.validarTodo', function (e) {
        var panActual = $('.panPropiedades.active');
        $('.pendientesValidacion .panEdicion input[name=Validado]', panActual).each(function () {
            validarPropiedad($(this));
        });
    });
    $('#page').on('click', 'input#Finalizar', function (e) {

        $('#panParametros .error').remove();

        var error = false;
        var textoError = "";
        var ListaParametros = {};

        var num = 0;
        $('.panPropiedades').each(function () {
            var panActual = $(this);

            if (!error) {
                var propiedadesSinValidar = $('.pendientesValidacion .panEdicion input[name=Validado][value=False]', panActual).length;

                if (!propiedadesSinValidar) {
                    $('.row', panActual).each(function () {
                        var panEdicion = $('.panEdicion', $(this));
                        var inputMantenerValor = $('input[name=MantenerValor]', panEdicion);
                        var inputValorDestino = $('[name=ValorPropiedadDestino]', panEdicion);
                        if ($(this).hasClass('parametroValidado') && !inputMantenerValor.is(':checked') && inputValorDestino.val() == "") {
                            panEdicion.addClass('edit');
                            error = true;

                            textoError = "Tienes errores en las propiedades. El valor de destino no puede ser vacio.";

                            mostrarPanel(panActual.attr('rel'));
                        }
                        else {
                            var prefijoClave = 'listaParametros[' + num + ']';

                            ListaParametros[prefijoClave + '.TipoObjeto'] = $('[name="TipoObjeto"]', panEdicion).val();
                            ListaParametros[prefijoClave + '.ObjetoPropiedad'] = $('[name="NombreCorto"]', panEdicion).val();
                            ListaParametros[prefijoClave + '.TipoPropiedad'] = $('[name="TipoPropiedad"]', panEdicion).val();
                            ListaParametros[prefijoClave + '.ValorPropiedad'] = encodeURIComponent($('[name="ValorPropiedad"]', panEdicion).val());
                            ListaParametros[prefijoClave + '.ValorPropiedadDestino'] = encodeURIComponent($('[name="ValorPropiedadDestino"]', panEdicion).val());
                            ListaParametros[prefijoClave + '.MismoValor'] = $('input[name=MantenerValor]', panEdicion).is(':checked');
                            ListaParametros[prefijoClave + '.Revisada'] = $(this).hasClass('parametroValidado');

                            num++;
                        }
                    });
                }
                else {
                    error = true;
                    textoError = "Tienes propiedades sin validar. Debes validarlas todas antes de poder continuar.";

                    mostrarPanel(panActual.attr('rel'));
                }
            }
        });

        if (!error) {
            MostrarUpdateProgressTime(0);

            GnossPeticionAjax(
                document.location.href + '/save',
                ListaParametros,
                true
            ).done(function (data) {
                $('#panParametros').before('<div class="ok general">' + data + '</div>');
            }).fail(function (data) {
                $('#panParametros').before('<div class="error general">' + data + '</div>');
            }).always(function () {
                OcultarUpdateProgress();
                $('#panParametros').remove();
            });
        }
        else {
            $('#divPreguntaConfirmacionEventos').before('<div style="margin-top:20px" class="error general">' + textoError + '</div>');
        }
    });
    $('#page').on('click', '.btnValidar', function (e) {
        var inputValidado = $('input[name=Validado]', $(this).closest('.panEdicion'));
        validarPropiedad(inputValidado);
    });
    $('#page').on('click', 'span.editar', function () {
        var fila = $(this).closest('.row');
        var panEditar = fila.children('.panEdicion');

        if (panEditar.hasClass('edit')) {
            panEditar.removeClass('edit');
        }
        else {
            panEditar.addClass('edit');
            panEditar.addClass('modified');
        }
    });

    $('#page').on('click', '[name=MantenerValor]', function (e) {
        var panEdicion = $(this).closest('.panEdicion');
        var inputValorDestino = $('[name=ValorPropiedadDestino]', panEdicion);

        if(!$(this).is(':checked'))
        {
            inputValorDestino.val(inputValorDestino.prop('aux'));
            inputValorDestino.removeProp('disabled');
        }
        else {
            inputValorDestino.prop('aux', inputValorDestino.val());
            inputValorDestino.val('');
            inputValorDestino.prop('disabled', 'disabled');
        }
    });

    function validarPropiedad(inputValidado) {
        inputValidado.val("True");
        inputValidado.closest('.row').addClass('parametroValidado');
    }

    $('#page').on('click', '.formSteps .progress .circle.active a', function (e) {
        e.preventDefault();
    });

    $('#page').on('click', '.formSteps .progress .circle:not(.active) a, a.formSteps.anterior, a.formSteps.siguiente', function (e) {
        e.preventDefault();

        var panActual = $('.panPropiedades.active');
        var propiedadesSinValidar = $('.pendientesValidacion .panEdicion input[name=Validado][value=False]', panActual).length;

        var rel = $(this).attr('rel');
        if (propiedadesSinValidar > 0) {

            var elemento = $(this);

            $('#lblPregunta_ConfirmacionEliminar').html('Tienes propiedades sin validar ¿Desea abandonar esta sección?');
            $("#lbSi_ConfirmacionEliminar").unbind('click');

            $("#lbSi_ConfirmacionEliminar").click(function () {
                $('#divPreguntaConfirmacionEventos').hide();
                $('#mascaraBlanca').hide();
                mostrarPanel(rel);
            });

            CalcularTopPanelEliminarYMostrar(e, 'divPreguntaConfirmacionEventos');
        }
        else {
            if ($('.panPropiedades').last().attr('rel') != panActual.attr('rel')) {
                $('.formSteps .progress .circle a[rel=' + panActual.attr('rel') + ']').parent().addClass('done');
                panActual.addClass('done');
            }

            mostrarPanel(rel);
        }
    });

    function mostrarPanel(numPanel) {
        $('.formSteps .progress .circle').removeClass('active');
        $('.formSteps .progress .circle a[rel=' + numPanel + ']').parent().addClass('active');

        $('.panPropiedades').removeClass('active');
        $('.panPropiedades[rel=' + numPanel + ']').addClass('active');
    }

    function CalcularTopPanelEliminarYMostrar(evento, panelID) {
        $('#mascaraBlanca').show();
        var fila = $(evento.target);
        $('#' + panelID).css({
            left: ($(window).width() - $('#' + panelID).width()) / 2 + 'px',
            top: ($(window).height() - $('#' + panelID).height()) / 2 + 'px',
            position: 'fixed',
            display: ''
        });
        return false;
    }

</script>
<style>

    .pendientesValidacion.done .validarTodo{
        display:none;
    }

    .row .panEdicion textarea {
        width: 590px !important;
    }

    .row .validado{
        display:none;
    }
    .row.parametroValidado .validado{
        display:inline;
    }
    .row.parametroValidado .panEdicion .panValidar{
        display:none;
    }
    
    input[type="button"].programar,
    .panEdicion input[type="button"]{
        margin-left:0
    }

    .panPropiedades{
        border-top:1px solid #ddd; 
        margin-top:30px; 
        padding-top:10px;
        display:none;
    }
    .panPropiedades.active{
        display:block;
    }
    span.validado{
        color:green;
    }
    .formSteps.siguiente {
        float:right;
    }
    .formSteps .progress {
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .formSteps .progress .circle,
    .formSteps .progress .bar {
        display: inline-block;
        background: #fff;
        width: 100px; height: 100px;
        border-radius: 100px;
        border: 1px solid #d5d5da;
    }
    .formSteps .progress .bar {
        position: relative;
        width: 80px;
        height: 6px;
        top: -50px;
        margin-left: -5px;
        margin-right: -5px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .formSteps .progress .circle .label {
        display: inline-block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 90px;
        margin-top: 5px;
        color: #b5b5ba;
        font-size: 17px;
    }
    .formSteps .progress .circle .title {
        color: #b5b5ba;
        font-size: 13px;
        line-height: 30px;
        position: absolute;
        margin-top: 100px;
        margin-left: -95px;
        width: 100px;
    }
    
    .formSteps .progress .circle.done {
        background: #eee;
    }
    .formSteps .progress .bar.active {
        background: linear-gradient(to right, #EEE 40%, #FFF 60%);
    }
    .formSteps .progress .circle.done .label {
        color: #FFF;
        background: #81CE97;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    }
    .formSteps .progress .circle.empty .label {
        color: #FFF;
        background: #ccc;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    }
    .formSteps .progress .circle.done .title {
        color: #444;
    }
    .formSteps .progress .circle.active .label {
        color: #FFF;
        background: #0c95be;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    }
    .formSteps .progress .circle.active .title {
        color: #0c95be;
    }
</style>