@model AdministrarRamasViewModel
<div>
    Estás en la rama <strong>@Model.Nombre</strong>
</div>
@if (Model.EsFusionable)
{
    <div>
        Pulsa el boton si quieres subir los cambios al repositorio remoto y cerrar la rama actual de trabajo
    </div>
    <div>
        <input type="button" class="guardarTodo" id="GuardarFusion" value="Cerrar Rama" />
    </div>
    <br />
}
<div>
    Pulsa el boton para subir los cambios al repositorio remoto sin cerrar la rama actual de trabajo
</div>
<div id="newId">
    <input type="button" class="guardarTodo" id="Guardar" value="Subir Cambios" />
</div>
<br />

<div id="mostrarMensaje" align="center">

</div>



<script>
    var OperativaAcciones = {
        init: function () {
            this.config();
            this.engancharComportamiento();
        },
        config: function (panelID) {
            this.urlPagina = document.location.href;
            return;
        },
        mostrarErrorGuardado: function () {
            $('#mostrarMensaje').append('<div class="error general">Ha habido errores en el guardado</div>');
        },
        guardar: function () {
            var that = this;
            MostrarUpdateProgress();
            GnossPeticionAjax(
            that.urlPagina + '/Save',
            that.Options,
            true
            ).fail(function (data) {
                that.mostrarErrorGuardado();
            }).always(function () {
                OcultarUpdateProgress();
            });
        },
        engancharComportamiento: function () {
            var that = this;
            $('#GuardarFusion').click(function () {
                that.guardarTodoFusion(true);
            });
            $('#Guardar').click(function () {
                that.guardarTodoFusion(false);
            });
            return;
        },
        guardarTodoFusion: function () {
            var that = this;
            $('.ok.general').remove();
            $('.error').remove();
            that.Options = {};
            that.Options['pFusionar'] = arguments[0];
            that.guardar();
        },
    }

    $(document).ready(function () {
        OperativaAcciones.init();
    });
</script>

