@model AdministrarIntegracionContinuaViewModel
@{
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
}
<div class="content">
    <h1>Se ha almacenado todo correctamente</h1>
    <br />
    <h2 id="Principal">Prueba</h2>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <p>Ha ocurrido el siguiente error</p>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Error</strong> @Model.Error
            </div>
    }
    <div class="block">
        @Html.PartialView("_Mensaje", Model)
    </div>
        
</div>

<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

    p {
        color: inherit;
    }
</style>
<script>
    
</script>
